.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.cookie-banner p {
  margin: 0;
  font-size: 14px;
}

.cookie-banner button {
  background-color: #7c3aed;
  margin-left: 15px;
  padding: 8px 30px;
  border-radius: none !important;
  color: white;
}
