/* src/styles/navbar.css */

.navbar-custom {
  background-color: #0a0a0a;
  margin-bottom: 86px;
}
.navbar-nav {
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-nav .nav-link:hover {
  color: #00f5ff !important;
  transform: scale(1.05);
}

.navbar-toggler {
  border-color: #00f0ff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2300f0ff' viewBox='0 0 30 30'%3e%3cpath stroke='%2300f0ff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
