form input,
form select,
form textarea {
  appearance: none;
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 0;
  background-color: #0f1d22;
  color: white;
  cursor: pointer;
  width: 95%;
  margin: 10px;
}
.form {
  margin: 0 auto;
}
