form input,
form select,
form textarea {
  appearance: none;
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 0;
  background-color: #0f1d22;
  color: white;
  cursor: pointer;
  width: 95%;
  margin: 10px;
  transition: background-color 0.3s;
}
.form {
  margin: 0 auto;
}
.send-message {
  background-color: #7c3aed;
}
.send-message:hover {
  background-color: transparent;
}
.contact-page {
  display: flex;
}

@media screen and (max-width: 768px) {
  .contact-page {
    flex-direction: column;
  }
  .send-message {
    width: 95%;
  }
}
.fade-message {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-message.hidden {
  opacity: 0;
}
